ADOBE_BASIC/ZTEST_ADOBE_SAMPLE.XSD

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xfa="http://www.xfa.org/schema/xfa-template/2.2/" xmlns:xfadata="http://www.xfa.org/schema/xfa-data/1.0/" xmlns:xhtml="http://www.w3.org/1999/xhtml">
 <xsd:import namespace="http://www.xfa.org/schema/xfa-data/1.0/"/>
 <xsd:element name="data">
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="HEADER_DATA" minOccurs="0" maxOccurs="1">
     <xsd:annotation xmlns:dc="http://purl.org/dc/elements/1.1/">
      <xsd:documentation>adobe form sample table type 1</xsd:documentation>
      <xsd:appinfo>
       <dc:description>adobe form sample table type 1</dc:description>
      </xsd:appinfo>
     </xsd:annotation>
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="DATA" minOccurs="1" maxOccurs="unbounded">
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element name="BUKRS">
           <xsd:annotation xmlns:dc="http://purl.org/dc/elements/1.1/">
            <xsd:documentation>Company Code</xsd:documentation>
            <xsd:appinfo>
             <dc:description>Company Code</dc:description>
             <dc:title>CoCd</dc:title>
            </xsd:appinfo>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="4"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SANLF">
           <xsd:annotation xmlns:dc="http://purl.org/dc/elements/1.1/">
            <xsd:documentation>Product Category</xsd:documentation>
            <xsd:appinfo>
             <dc:description>Product Category</dc:description>
             <dc:title>PrC</dc:title>
            </xsd:appinfo>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="3"/>
             <xsd:pattern value="\d+"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RKEY1">
           <xsd:annotation xmlns:dc="http://purl.org/dc/elements/1.1/">
            <xsd:documentation>Key part 1</xsd:documentation>
            <xsd:appinfo>
             <dc:description>Key part 1</dc:description>
             <dc:title>Key 1</dc:title>
            </xsd:appinfo>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="13"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DGUEL_KK" type="xsd:date">
           <xsd:annotation xmlns:dc="http://purl.org/dc/elements/1.1/">
            <xsd:documentation>Date Condition Effective from</xsd:documentation>
            <xsd:appinfo>
             <dc:description>Date Condition Effective from</dc:description>
             <dc:title>Eff. from</dc:title>
            </xsd:appinfo>
           </xsd:annotation>
          </xsd:element>
          <xsd:element name="ITEMS" minOccurs="0" maxOccurs="1">
           <xsd:annotation xmlns:dc="http://purl.org/dc/elements/1.1/">
            <xsd:documentation>adobe form ssample table type  2</xsd:documentation>
            <xsd:appinfo>
             <dc:description>adobe form ssample table type  2</dc:description>
            </xsd:appinfo>
           </xsd:annotation>
           <xsd:complexType>
            <xsd:sequence>
             <xsd:element name="DATA" minOccurs="1" maxOccurs="unbounded">
              <xsd:complexType>
               <xsd:sequence>
                <xsd:element name="RKEY1">
                 <xsd:annotation xmlns:dc="http://purl.org/dc/elements/1.1/">
                  <xsd:documentation>Key part 1</xsd:documentation>
                  <xsd:appinfo>
                   <dc:description>Key part 1</dc:description>
                   <dc:title>Key 1</dc:title>
                  </xsd:appinfo>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="13"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="RKEY2">
                 <xsd:annotation xmlns:dc="http://purl.org/dc/elements/1.1/">
                  <xsd:documentation>Key part 2</xsd:documentation>
                  <xsd:appinfo>
                   <dc:description>Key part 2</dc:description>
                   <dc:title>Key 2</dc:title>
                  </xsd:appinfo>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="8"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="DGUEL_KK" type="xsd:date">
                 <xsd:annotation xmlns:dc="http://purl.org/dc/elements/1.1/">
                  <xsd:documentation>Date Condition Effective from</xsd:documentation>
                  <xsd:appinfo>
                   <dc:description>Date Condition Effective from</dc:description>
                   <dc:title>Eff. from</dc:title>
                  </xsd:appinfo>
                 </xsd:annotation>
                </xsd:element>
                <xsd:element name="BKOND">
                 <xsd:annotation xmlns:dc="http://purl.org/dc/elements/1.1/">
                  <xsd:documentation>Condition Item Currency Amount</xsd:documentation>
                  <xsd:appinfo>
                   <dc:description>Condition Item Currency Amount</dc:description>
                   <dc:title>Condition Amount</dc:title>
                  </xsd:appinfo>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:decimal">
                   <xsd:totalDigits value="13"/>
                   <xsd:fractionDigits value="2"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="SWHRKOND">
                 <xsd:annotation xmlns:dc="http://purl.org/dc/elements/1.1/">
                  <xsd:documentation>Currency of Condition Item</xsd:documentation>
                  <xsd:appinfo>
                   <dc:description>Currency of Condition Item</dc:description>
                   <dc:title>Crcy</dc:title>
                  </xsd:appinfo>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="5"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
               </xsd:sequence>
              </xsd:complexType>
             </xsd:element>
            </xsd:sequence>
           </xsd:complexType>
          </xsd:element>
         </xsd:sequence>
        </xsd:complexType>
       </xsd:element>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>
</xsd:schema>
